body, html {    
    background-color: #3c9a10;
    width: 100%;
    height: 100%;
}

.playground-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.playground {
    overflow: hidden;
    margin: auto;
    display: grid;  
}

.playground.dir-up .head, .playground.dir-up .tail {
    transform: rotate(-90deg);
}

.playground.dir-left .head, .playground.dir-left .tail {
    transform: rotate(180deg);
}

.playground.dir-down .head, .playground.dir-down .tail {
    transform: rotate(90deg);
}

.playground.dir-up .body, .playground.dir-down .body {
    transform: rotate(-90deg);
}

.record {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
}